# Visual Studio files
.vs/
*.suo
*.user
*.VC.db
*.VC.opendb

# Build output
Debug/
Release/
x64/
*.obj
*.exe
*.pdb
*.ilk

# Intermediates
*.tlog
*.ipch
*.log
*.idb
*.cache
*.lastbuildstate

# Others
*.ncb
*.sdf
*.opensdf
*.aps
*.db
